<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-primary ">
            <div class="panel-heading">后台登录</div>
            <div class="panel-body">
                <form class="form-horizontal" action="/home/admin/logincheck" method="post" data-toggle="validator">
                    <div class="form-group">
                        <label class="col-md-3 control-label">用户名</label>
                        <div class="col-md-9">
                            <input name="username" type="text" class="form-control" required="required">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">密码</label>
                        <div class="col-md-9">
                            <input name="password" type="password" class="form-control " required="required">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-9 control-label"></label>
                        <div class="col-md-3">
                            <input type="submit" value="登录" class=" btn" >
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

</div>