<include file="../Application/Home/view/nav.html" />
<div class="row">
    <div class="panel">
        <div class="panel panel-heading">版主</div>
        <div class="panel panel-body">
            <form action="/home/admin/showperm" method="get" class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-3">选择板块</label>
                    <div class="col-md-9">
                        <select name="mokuai">

                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>