<include file="../Application/Home/view/nav.html" />
<div class="row fullscreen">
    <div class="col-md-3">
        <div class="panel-heading"></div>
        <div class="panel-body">
            <form class="form-horizontal" method="get" action="/home/admin/userlist">
                <div class="form-group">
                    <label class="col-md-4 control-label">用户名：</label>
                    <div class="col-md-8">
                        <input name="keyword"  />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label"><a href="/home/admin/userlist" >重置</a></label>
                    <div class="col-md-7">
                        <input type="submit"  class="form-control" value="搜索"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-9">
        <div class="panel ">
            <div class="panel-heading"></div>
            <div class="panel-body">
                <table class="table table-bordered">
                    <tr>
                        <th>id</th>
                        <th>用户名</th>
                        <th>注册时间</th>
                        <th>是否软删除</th>
                        <th>操作</th>
                    </tr>
                    <volist name="result" id="items">
                        <tr>
                            <td>{$items.id}</td>
                            <td>{$items.username}</td>
                            <td>{$items.created_at}</td>
                            <td><if condition="$items['softdelete']==1">是<else/>否</if></td>
                            <td>
                                <if condition="$items['softdelete']==1">
                                    <a href="/home/admin/recover/id/{$items.id}">恢复</a>
                                    <else/><a href="/home/admin/softdel/id/{$items.id}">删除</a>
                                </if>

                            </td>
                        </tr>
                    </volist>
                </table>
                {$page->show()}
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    .fullscreen
    {
        background-color: white;
        height: 560px;
    }
</style>