<include file="../Application/Home/view/daohangtiao.html" />
<include file="../Application/Home/view/topinfo.html" />

<div class="row">
    <div style="color: #8B0015;font-size: 18px;background-color: #f9f9f9" >
        <img src="IMAGE_PATH/smalllogo.png">  <b>大荒风云讨论区 &nbsp;&nbsp;(常用讨论区)</b>
    </div>
</div>
<div class="row" style="background-color: #e8e8e8">
    <div class="col-md-4">
        <div class="col-md-4">
            <img style="margin-left: -15px;" src="IMAGE_PATH/top_letf_1.png">
        </div>
        <div class="col-md-8">
            <b><span style="color: #009900"><a href="/home/index/mengpailist/m/1">新手上路</a></span></b> （）<br/>
                <span style="font-size: 12px;">
                    《天下3》新手专区，新手玩家可以在此询问天下3相关新手问题。<br/>
                    <span style="font-size: 10px;">
                            主题: 5万, 帖数: 47万
                    </span>
                </span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="col-md-4">
            <img src="IMAGE_PATH/top_center_1.png">
        </div>
        <div class="col-md-8">
            <b><span style="color: #1d3e78"><a href="/home/index/mengpailist/m/2">天下一统</a></span></b> （今日:3847）<br/>
                 <span style="font-size: 12px;">
                   本版为《天下3》游戏内容主讨论区，欢迎您在这里分享给大家。<br/>
                    <span style="font-size: 10px;">
                                主题: 91万, 帖数: 1708万
                    </span>
                </span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="col-md-4">
            <img src="IMAGE_PATH/top_right_1.jpg">
        </div>
        <div class="col-md-8">
            <b><span style="color: #9933ff"><a href="/home/index/mengpailist/m/3">翰墨承云</a></span></b> (今日:133)<br/>
                 <span style="font-size: 12px;">
                   寄身书翰墨，乘云鉴风波（采访、杂志、战报，翰书天下，精华尽在其中。<br/>
                    <span style="font-size: 10px;">
                                    主题: 1352, 帖数: 20万
                    </span>
                </span>
        </div>
    </div>
</div>
<div class="row" style="background-color: #e8e8e8;margin-top: 1px;">
    <div class="col-md-4">
        <div class="col-md-4">
            <img src="IMAGE_PATH/top_letf_2.png" style="margin-left: -15px;">
        </div>
        <div class="col-md-8">
            <b><span style="color:#1d3e78;"><a href="/home/index/mengpailist/m/4">大荒布告</a></span></b><br/>
                <span style="font-size: 12px;">
                 《天下3》各种游戏运营公告<br/>发布区 <br/><br/>
                    <span style="font-size: 10px;">
                                        主题: 4219, 帖数: 4908
                    </span>
                </span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="col-md-4">
            <img src="IMAGE_PATH/top_center_2.png">
        </div>
        <div class="col-md-8">
            <b><span style="color:#1d3e78"><a href="/home/index/mengpailist/m/5">大荒本纪</a></span></b><br/>
                <span style="font-size: 12px;">
                开发团队不定期公开游戏的开发内容与进度，并与玩家针对游戏的设计进行讨论交流。 <br/>
                    <span style="font-size: 10px;">
                                        主题: 259, 帖数: 6万
                    </span>
                </span>
        </div>
    </div>
</div>
</div>

    <div class="row">
        <div style="color: #8B0015;font-size: 18px;background-color: #f9f9f9">
            <img src="IMAGE_PATH/smalllogo.png"><b>奇门异派 &nbsp;&nbsp;（八大门派讨论区）</b>
        </div>
    </div>
    <div class="row" style="background-color: #e8e8e8">
        <div class="col-md-4">
            <div class="col-md-4">
                <img style="margin-left: -15px;" src="IMAGE_PATH/center_left_1.png">
            </div>
            <div class="col-md-8">
                <b><span style="color:#1d3e78"><a href="/home/index/mengpailist/m/6">荒火教</a></span></b> (今日:227)<br/>
                <span style="font-size: 12px;">
                    南蛮悍勇世无双，斧锤如风鬼神寒。
                    熊熊圣火照征程，不破幽都终不还。<br/>
                    <span style="font-size: 10px;">
                                主题: 6万, 帖数: 90万
                    </span>
                </span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-md-4">
                <img src="IMAGE_PATH/center_center_1.png">
            </div>
            <div class="col-md-8">
                <b><span style="color: #1d3e78"><a href="/home/index/mengpailist/m/7">天机营</a></span></b> (今日:265)<br/>
                 <span style="font-size: 12px;">
                     应龙密授玄天机，峥嵘初显八阵图。
                     神盾护国不畏死，青山处处埋忠骨。<br/>
                    <span style="font-size: 10px;">
                                    主题: 7万, 帖数: 97万
                    </span>
                </span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-md-4">
                <img src="IMAGE_PATH/center_right_1.png">
            </div>
            <div class="col-md-8">
                <b><span style="color: #1d3e78"><a href="/home/index/mengpailist/m/9">翎羽山庄</a></span></b> (今日:188)<br/>
                 <span style="font-size: 12px;">
                     落日神箭今何在，东海遗泽被大荒。
                     十面埋伏骋林野，百步穿杨技无双。<br/>
                    <span style="font-size: 10px;">
                                       主题: 6万, 帖数: 78万
                    </span>
                </span>
            </div>
        </div>
    </div>
    <div class="row" style="background-color: #e8e8e8;margin-top: 1px;">
        <div class="col-md-4">
            <div class="col-md-4">
                <img src="IMAGE_PATH/center_left_2.png" style="margin-left: -15px;">
            </div>
            <div class="col-md-8">
                <b><span style="color:#1d3e78"><a href="/home/index/mengpailist/m/8">魍魉</a></span></b>(今日:320)<br/>
                <span style="font-size: 12px;">
                 雷泽鬼唱王子泣，恨血千年土中碧。
                鬼影迷踪追魂剑，杀人如芥迹难觅。 <br/>
                    <span style="font-size: 10px;">
                                            主题: 10万, 帖数: 142万
                    </span>
                </span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-md-4">
                <img src="IMAGE_PATH/center_center_2.png">
            </div>
            <div class="col-md-8">
                <b><span style="color:#1d3e78"><a href="/home/index/mengpailist/m/10">云麓仙居</a></span></b>(今日:285)<br/>
                <span style="font-size: 12px;">
                腾云驾雾谪仙人，天地万法通神明。
                妖魔蚁聚浑不怕，万夫难敌浩气盈。 <br/>
                    <span style="font-size: 10px;">
                                            主题: 7万, 帖数: 1677万
                    </span>
                </span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-md-4">
                <img src="IMAGE_PATH/center_right_2.png">
            </div>
            <div class="col-md-8">
                <b><span style="color:#1d3e78"><a href="/home/index/mengpailist/m/11">太虚观</a></span></b>(今日:172)<br/>
                <span style="font-size: 12px;">
                太虚无极驭仙兽，八卦咒诀藏锋芒。
                驱鬼降妖得意事，鸿钧仙气万丈长。 <br/>
                    <span style="font-size: 10px;">
                                            主题: 8万, 帖数: 123万
                    </span>
                </span>
            </div>
        </div>
    </div>
    <div class="row" style="background-color: #e8e8e8;margin-top: 1px;">
        <div class="col-md-4">
            <div class="col-md-4">
                <img src="IMAGE_PATH/center_left_3.png" style="margin-left: -15px;">
            </div>
            <div class="col-md-8">
                <b><span style="color:#1d3e78"><a href="/home/index/mengpailist/m/12">弈剑听雨阁</a></span></b>(今日:443)<br/>
                <span style="font-size: 12px;">
                 锁妖宝塔锁深怨，封印神剑封前缘。
                 御剑把酒听秋雨，怎堪江湖梦已远。 <br/>
                    <span style="font-size: 10px;">
                                                主题: 11万, 帖数: 160万
                    </span>
                </span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-md-4">
                <img src="IMAGE_PATH/center_center_3.png">
            </div>
            <div class="col-md-8">
                <b><span style="color:#1d3e78"><a href="/home/index/mengpailist/m/13">冰心堂</a></span></b>(今日:4666)<br/>
                <span style="font-size: 12px;">
                千载岐黄崇炎帝，奇经八脉调阴阳。
                善施百毒消民厄，肯解青囊善心长。 <br/>
                    <span style="font-size: 10px;">
                                                主题: 30万, 帖数: 1702万
                    </span>
                </span>
            </div>
        </div>
    </div>


    <div class="row">
        <div style="color: #8B0015;font-size: 18px;background-color: #f9f9f9">
            <img src="IMAGE_PATH/smalllogo.png">  <b>仗剑江湖 &nbsp;&nbsp;(常用讨论区)</b>
        </div>
    </div>
    <div class="row" style="background-color: #e8e8e8">
        <div class="col-md-4">
            <div class="col-md-4">
                <img style="margin-left: -15px;" src="IMAGE_PATH/buttom_left_1.png">
            </div>
            <div class="col-md-8">
                <b><span style="color: #009900">天下之路</span></b> (今日:1147)<br/>
                <span style="font-size: 12px;">
                    势力征战讨论区。你与势力的恩怨情仇、每周城站、势力战战绩，尽在此地。<br/>
                    <span style="font-size: 10px;">
                                主题: 17万, 帖数: 1698万
                    </span>
                </span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-md-4">
                <img src="IMAGE_PATH/buttom_center_1.png">
            </div>
            <div class="col-md-8">
                <b><span style="color: #1d3e78">虎印节堂</span></b> (今日:199)<br/>
                 <span style="font-size: 12px;">
                   备战新区招兵买马看这里！
                   新服招募/求组织，新服战势相关讨论专区<br/>
                    <span style="font-size: 10px;">
                                    主题: 7万, 帖数: 201万
                    </span>
                </span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-md-4">
                <img src="IMAGE_PATH/buttom_right_1.png">
            </div>
            <div class="col-md-8">
                <b><span style="color: #9933ff">映世宝鉴</span></b> (今日:15)<br/>
                 <span style="font-size: 12px;">
                   大荒万里山河，尽在你我手中。
                   影音、美图、小说，描绘你我的大荒梦。<br/>
                    <span style="font-size: 10px;">
                                        主题: 2万, 帖数: 70万
                    </span>
                </span>
            </div>
        </div>
    </div>
    <div class="row" style="background-color: #e8e8e8;margin-top: 1px;">
        <div class="col-md-4">
            <div class="col-md-4">
                <img src="IMAGE_PATH/buttom_left_2.png" style="margin-left: -15px;">
            </div>
            <div class="col-md-8">
                <b><span style="color:#1d3e78;">浮生若梦</span></b>(今日:294)<br/>
                <span style="font-size: 12px;">
                 游戏内外趣闻轶事，等你来分享！
                 心情、日记、秀恩爱……想秀就秀！ <br/><br/>
                    <span style="font-size: 10px;">
                                           主题: 26万, 帖数: 600万
                    </span>
                </span>
            </div>
        </div>
        </div>

        <div class="row">
            <div class="title_a">
                <h2 style="font-size: large">《天下3》游戏资讯</h2>
            </div>
            <div class="news">
                <div class="left col-md-5">
                    <div class="hero">
                        <div>
                            <a href="http://tx3.netease.com/forum.php" target="_blank">
                                <img style="float: left;margin-right: 20px"
                                     src="http://img0.ph.126.net/0pGzZNFhmeq2qXCRXsHEfg==/6631364633844341145.png">
                            </a>
                        </div>
                        <div class="hero_r" style="margin-top: 5px">
                            <p class="caption">图说天下【34期】</p>

                            <p style="font-size: 13px" class="summary">
                                起个神ID、千枽手绘意境<br/>系列、
                                大宋和我的山居生活<br/>～精彩不断！
                                <a target="_blank" href="http://tx3.netease.com/thread-4756904-1-1.html">[查看全文]</a>
                            </p>
                        </div>

                    </div>
                    <ul class="list_cl" style="">
                        <li class="cl">
                            <div>
                                <p class="my_p">
                                    <span>[爆料]</span>
                                    <a target="_blank" href="#">2016年中资料片大剧透（全新门派现世）</a>
                                    <span class="y date">[03-22]</span>
                                </p>
                            </div>
                        </li>
                        <li class="cl">
                            <div>
                                <p class="my_p">
                                    <span>[展示]</span>
                                    <a target="_blank" href="#">群星大荒：觉醒满级第一人清幽若水</a>
                                    <span class="y date">[03-22]</span>
                                </p>
                            </div>
                        </li>
                        <li class="cl">
                            <div>
                                <p class="my_p">
                                    <span>[视频]</span>
                                    <a target="_blank" href="#">天下3原创音乐唯美mv《千梦》发布</a>
                                    <span class="y date">[03-16]</span>
                                </p>
                            </div>
                        </li>
                        <li class="cl">
                            <div>
                                <p class="my_p">
                                    <span>[攻略]</span>
                                    <a target="_blank" href="#">海寂二周目NPC好感度任务攻略</a>
                                    <span class="y date">[03-12]</span>
                                </p>
                            </div>
                        </li>
                        <li class="cl">
                            <div>
                                <p class="my_p">
                                    <span>[展示]</span>
                                    <a target="_blank" href="#">弈剑听雨——问水诀~弈剑听雨——问水诀</a>
                                    <span class="y date">[03-15]</span>
                                </p>
                            </div>
                        </li>
                        <li class="cl">
                            <div>
                                <p class="my_p">
                                    <span>[视频]</span>
                                    <a target="_blank" href="#">一直都在（东皇太一X玩家）腐向，专注冷西皮</a>
                                    <span class="y date">[03-09]</span>
                                </p>
                            </div>
                        </li>
                        <li class="cl">
                            <div>
                                <p class="my_p">
                                    <span>[视频]</span>
                                    <a target="_blank" href="#">MV剧情视频【东邪西毒——梦】</a>
                                    <span class="y date">[03-11]</span>
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="right col-md-7">
                    <div>
                        <span style="font-size: 16px">游戏资料</span>
                        <span style="float: right"><a target="_blank" href="#">查看更多</a></span>
                    </div>
                    <div>
                        <ul class="right_h">
                            <li><b><a href="#" target="_blank">新手攻略</a></b></li>
                            <li><a href="#" target="_blank">元魂系统</a></li>
                            <li><a href="#" target="_blank">前期副本</a></li>
                            <li><a href="#" target="_blank">元魂系统</a></li>
                            <li><a href="#" target="_blank">孩子系统</a></li>
                            <li><a href="#" target="_blank">归墟战场</a></li>
                            <li><a href="#" target="_blank">日常小玩法</a></li>
                        </ul>
                    </div>
                    <div>
                        <dl class="right_dl">
                            <dt style="float: left"><a href="#" target="_blank">游戏进阶</a></dt>
                            <dd>
                                <ul style="display: block;margin-left: 18px" class="right_h">
                                    <li><a href="#" target="_blank">太初玄兵</a></li>
                                    <li><a href="#" target="_blank">门派转换</a></li>
                                    <li><a href="#" target="_blank">双护翅膀</a></li>
                                    <li><a href="#" target="_blank">英魂装备</a></li>
                                    <li><a href="#" target="_blank">轩辕英魂</a></li>
                                    <li><a href="#" target="_blank">手工时装</a></li>
                                    <li><a href="#" target="_blank">时间贵宾</a></li>
                                    <li><a href="#" target="_blank">荟珍阁</a></li>
                                    <br>
                                    <li><a href="#" target="_blank">珍兽技能</a></li>
                                    <li><a href="#" target="_blank">百炼武库</a></li>
                                    <li><a href="#" target="_blank">元魂神启</a></li>
                                    <li><a href="#" target="_blank">神启幻化</a></li>
                                    <li><a href="#" target="_blank"> 神启合体</a></li>
                                    <li><a href="#" target="_blank">天赋技能</a></li>
                                    <li><a href="#" target="_blank">归宗系统</a></li>
                                    <li><a href="#" target="_blank">家仆系统</a></li>
                                    <br>
                                    <li><a href="#" target="_blank">宠物加成</a></li>
                                    <li><a href="#" target="_blank">势力战新玩法</a></li>
                                </ul>
                            </dd>
                        </dl>
                    </div>
                    <div>
                        <ul class="right_h">
                            <li><b><a href="#" target="_blank">其他攻略</a></b></li>
                            <li><a href="#" target="_blank">地藏王副本攻略</a></li>
                            <li><a href="#" target="_blank">黄泉戾影副本攻略</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="title_b">
                <span >天下同人图文视频</span>
            </div>
            <div class="col-md-7">
                <div class="col-md-5" style="margin-left: -40px">
                    <a href="#"><img src="/Public/image/1.png"/></a>

                    <p class="caption">翰书天下三月壁纸集合</p>

                    <p class="des">小清新、萌系、恶搞应有尽有！</p>
                </div>
                <div class="col-md-5" style="margin-left: 45px">
                    <div class="row" >
                        <div class="col-md-6"><a><img src="/Public/image/2.png"/></a></div>
                        <div class="col-md-6"><a style="margin-bottom: 20px;margin-left: 30px"><img src="/Public/image/2.png"/></a></div>
                    </div>
                    <div class="row">
                        <div class="col-md-6"><a style="margin-top: 100px"><img src="/Public/image/2.png"/></a></div>
                        <div class="col-md-6"><a style="margin-top: 20px"><img src="/Public/image/2.png"/></a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div><span style="font-size: 18px;margin-left: 50px;margin-top: 50px">论坛热帖</span></div>
                <div>
                    <ul class="title_b_r" style="margin-left: 20px">
                        <li>
                            <div style="float: left">
                                <em>1</em>
                                <a class="name" target="_blank" href="#">【天下3官方论坛】翠色一片暖大荒。新时装</a>
                                <span style="margin-left: 1px" class="views y">65607</span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <em>2</em>
                                <a class="name" target="_blank" href="#">【天下3官方论坛】翠色一片暖大荒。新时装</a>
                                <span class="views y">65607</span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <em>3</em>
                                <a class="name" target="_blank" href="#">【天下3官方论坛】翠色一片暖大荒。新时装</a>
                                <span class="views y">65607</span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <em>4</em>
                                <a class="name" target="_blank" href="#">【天下3官方论坛】翠色一片暖大荒。新时装</a>
                                <span class="views y">65607</span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <em>5</em>
                                <a class="name" target="_blank" href="#">【天下3官方论坛】翠色一片暖大荒。新时装</a>
                                <span class="views y">65607</span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <em>6</em>
                                <a class="name" target="_blank" href="#">【天下3官方论坛】翠色一片暖大荒。新时装</a>
                                <span class="views y">65607</span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <em>7</em>
                                <a class="name" target="_blank" href="#">【天下3官方论坛】翠色一片暖大荒。新时装</a>
                                <span class="views y">65607</span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <em>8</em>
                                <a class="name" target="_blank" href="#">【天下3官方论坛】翠色一片暖大荒。新时装</a>
                                <span class="views y">65607</span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <em>9</em>
                                <a class="name" target="_blank" href="#">【天下3官方论坛】翠色一片暖大荒。新时装</a>
                                <span class="views y">65607</span>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>

        <div class="hei_tu">
            <a href="#" target="_blank"><img src="/Public/image/hei_1.png"></a>
        </div>

        <div class="board">
            <ul class="hot">
                <li class="col-md-6">
                    <div style="height: 90px;width: 600px;color: whitesmoke">
                        <div style="background: url('/Public/image/hot_1.png');height: 85px;width: 595px; ">
                            <div class="hot_za col-md-2 ">
                                <p class="en">HOT</p>

                                <p class="zh">玩家招募</p>
                            </div>
                            <div class="hot_zb col-md-offset-1 col-md-6">
                                <table>
                                    <tr>
                                        <td>
                                            <a class="zi">
                                                <p class="lg">上万军饷的正确领取方式</p>

                                                <p class="sm">天下3最大玩家团队在等你加入</p>
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="col-md-6">
                    <div style="height: 90px;width: 600px;color: whitesmoke">
                        <div style="background: url('/Public/image/hot_2.png');height: 85px;width: 595px; ">
                            <div class="hot_za col-md-2 ">
                                <p class="en">HOT</p>

                                <p class="zh">热门帖子</p>
                            </div>
                            <div class="hot_zb col-md-offset-2 col-md-6">
                                <table>
                                    <tr>
                                        <td>
                                            <a class="zi">
                                                <p class="lg">小宠系列电脑壁纸图签</p>

                                                <p class="sm">岚音、小玉雨、侍剑……</p>
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="col-md-6">
                    <div style="height: 90px;width: 600px;color: whitesmoke">
                        <div style="background: url('/Public/image/hot_3.png');height: 85px;width: 595px; ">
                            <div class="hot_za col-md-2 ">
                                <p class="en">HOT</p>

                                <p class="zh">战犯激情</p>
                            </div>
                            <div class="hot_zb col-md-offset-1 col-md-6">
                                <table style="margin-left: 20px;">
                                    <tr>
                                        <td>
                                            <a class="zi">
                                                <p class="lg">战犯激情所在</p>

                                                <p class="sm">2月15日-2月21日战报备忘录</p>
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="col-md-6">
                    <div style="height: 90px;width: 600px;color: whitesmoke">
                        <div style="background: url('/Public/image/hot_4.png');height: 85px;width: 595px; ">
                            <div class="hot_za col-md-2 ">
                                <p class="en">HOT</p>

                                <p class="zh">翰书天下</p>
                            </div>
                            <div class="hot_zb col-md-offset-1 col-md-6">
                                <table style="margin-left: 70px">
                                    <tr>
                                        <td>
                                            <a class="zi">
                                                <p class="lg">天下3同人</p>

                                                <p class="sm">寄身书翰墨，乘云鉴风波</p>
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

