<include file="../Application/Home/view/daohangtiao.html" />
<include file="../Application/Home/view/topinfo.html" />

<div class="row">
    <div style="color: #8B0015;font-size: 18px;background-color: #f9f9f9" >
        <img src="IMAGE_PATH/smalllogo.png">  <b>大荒风云讨论区 &nbsp;&nbsp;(常用讨论区)</b>
    </div>
</div>
<div class="row" style="background-color: #e8e8e8">
    <div class="col-md-4">
        <div class="col-md-4">
            <img style="margin-left: -15px;" src="IMAGE_PATH/top_letf_1.png">
        </div>
        <div class="col-md-8">
            <b><span style="color: #009900"><a href="/home/index/mengpailist/m/1">新手上路</a></span></b> （今日:137）<br/>
                <span style="font-size: 12px;">
                    《天下3》新手专区，新手玩家可以在此询问天下3相关新手问题。<br/>
                    <span style="font-size: 10px;">
                            主题: 5万, 帖数: 47万
                    </span>
                </span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="col-md-4">
            <img src="IMAGE_PATH/top_center_1.png">
        </div>
        <div class="col-md-8">
            <b><span style="color: #1d3e78"><a href="/home/index/mengpailist/m/2">天下一统</a></span></b> （今日:3847）<br/>
                 <span style="font-size: 12px;">
                   本版为《天下3》游戏内容主讨论区，欢迎您在这里分享给大家。<br/>
                    <span style="font-size: 10px;">
                                主题: 91万, 帖数: 1708万
                    </span>
                </span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="col-md-4">
            <img src="IMAGE_PATH/top_right_1.jpg">
        </div>
        <div class="col-md-8">
            <b><span style="color: #9933ff"><a href="/home/index/mengpailist/m/3">翰墨承云</a></span></b> (今日:133)<br/>
                 <span style="font-size: 12px;">
                   寄身书翰墨，乘云鉴风波（采访、杂志、战报，翰书天下，精华尽在其中。<br/>
                    <span style="font-size: 10px;">
                                    主题: 1352, 帖数: 20万
                    </span>
                </span>
        </div>
    </div>
</div>
<div class="row" style="background-color: #e8e8e8;margin-top: 1px;">
    <div class="col-md-4">
        <div class="col-md-4">
            <img src="IMAGE_PATH/top_letf_2.png" style="margin-left: -15px;">
        </div>
        <div class="col-md-8">
            <b><span style="color:#1d3e78;"><a href="/home/index/mengpailist/m/4">大荒布告</a></span></b><br/>
                <span style="font-size: 12px;">
                 《天下3》各种游戏运营公告<br/>发布区 <br/><br/>
                    <span style="font-size: 10px;">
                                        主题: 4219, 帖数: 4908
                    </span>
                </span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="col-md-4">
            <img src="IMAGE_PATH/top_center_2.png">
        </div>
        <div class="col-md-8">
            <b><span style="color:#1d3e78"><a href="/home/index/mengpailist/m/5">大荒布告</a></span></b><br/>
                <span style="font-size: 12px;">
                开发团队不定期公开游戏的开发内容与进度，并与玩家针对游戏的设计进行讨论交流。 <br/>
                    <span style="font-size: 10px;">
                                        主题: 259, 帖数: 6万
                    </span>
                </span>
        </div>
    </div>
</div>
</div>

    <div class="row">
        <div style="color: #8B0015;font-size: 18px;background-color: #f9f9f9">
            <img src="IMAGE_PATH/smalllogo.png"><b>奇门异派 &nbsp;&nbsp;（八大门派讨论区）</b>
        </div>
    </div>
    <div class="row" style="background-color: #e8e8e8">
        <div class="col-md-4">
            <div class="col-md-4">
                <img style="margin-left: -15px;" src="IMAGE_PATH/center_left_1.png">
            </div>
            <div class="col-md-8">
                <b><span style="color:#1d3e78"><a href="/home/index/mengpailist/m/6">荒火教</a></span></b> (今日:227)<br/>
                <span style="font-size: 12px;">
                    南蛮悍勇世无双，斧锤如风鬼神寒。
                    熊熊圣火照征程，不破幽都终不还。<br/>
                    <span style="font-size: 10px;">
                                主题: 6万, 帖数: 90万
                    </span>
                </span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-md-4">
                <img src="IMAGE_PATH/center_center_1.png">
            </div>
            <div class="col-md-8">
                <b><span style="color: #1d3e78"><a href="/home/index/mengpailist/m/7">天机营</a></span></b> (今日:265)<br/>
                 <span style="font-size: 12px;">
                     应龙密授玄天机，峥嵘初显八阵图。
                     神盾护国不畏死，青山处处埋忠骨。<br/>
                    <span style="font-size: 10px;">
                                    主题: 7万, 帖数: 97万
                    </span>
                </span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-md-4">
                <img src="IMAGE_PATH/center_right_1.png">
            </div>
            <div class="col-md-8">
                <b><span style="color: #1d3e78"><a href="/home/index/mengpailist/m/9">翎羽山庄</a></span></b> (今日:188)<br/>
                 <span style="font-size: 12px;">
                     落日神箭今何在，东海遗泽被大荒。
                     十面埋伏骋林野，百步穿杨技无双。<br/>
                    <span style="font-size: 10px;">
                                       主题: 6万, 帖数: 78万
                    </span>
                </span>
            </div>
        </div>
    </div>
    <div class="row" style="background-color: #e8e8e8;margin-top: 1px;">
        <div class="col-md-4">
            <div class="col-md-4">
                <img src="IMAGE_PATH/center_left_2.png" style="margin-left: -15px;">
            </div>
            <div class="col-md-8">
                <b><span style="color:#1d3e78"><a href="/home/index/mengpailist/m/8">魍魉</a></span></b>(今日:320)<br/>
                <span style="font-size: 12px;">
                 雷泽鬼唱王子泣，恨血千年土中碧。
                鬼影迷踪追魂剑，杀人如芥迹难觅。 <br/>
                    <span style="font-size: 10px;">
                                            主题: 10万, 帖数: 142万
                    </span>
                </span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-md-4">
                <img src="IMAGE_PATH/center_center_2.png">
            </div>
            <div class="col-md-8">
                <b><span style="color:#1d3e78"><a href="/home/index/mengpailist/m/10">云麓仙居</a></span></b>(今日:285)<br/>
                <span style="font-size: 12px;">
                腾云驾雾谪仙人，天地万法通神明。
                妖魔蚁聚浑不怕，万夫难敌浩气盈。 <br/>
                    <span style="font-size: 10px;">
                                            主题: 7万, 帖数: 1677万
                    </span>
                </span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-md-4">
                <img src="IMAGE_PATH/center_right_2.png">
            </div>
            <div class="col-md-8">
                <b><span style="color:#1d3e78"><a href="/home/index/mengpailist/m/11">太虚观</a></span></b>(今日:172)<br/>
                <span style="font-size: 12px;">
                太虚无极驭仙兽，八卦咒诀藏锋芒。
                驱鬼降妖得意事，鸿钧仙气万丈长。 <br/>
                    <span style="font-size: 10px;">
                                            主题: 8万, 帖数: 123万
                    </span>
                </span>
            </div>
        </div>
    </div>
    <div class="row" style="background-color: #e8e8e8;margin-top: 1px;">
        <div class="col-md-4">
            <div class="col-md-4">
                <img src="IMAGE_PATH/center_left_3.png" style="margin-left: -15px;">
            </div>
            <div class="col-md-8">
                <b><span style="color:#1d3e78"><a href="/home/index/mengpailist/m/12">弈剑听雨阁</a></span></b>(今日:443)<br/>
                <span style="font-size: 12px;">
                 锁妖宝塔锁深怨，封印神剑封前缘。
                 御剑把酒听秋雨，怎堪江湖梦已远。 <br/>
                    <span style="font-size: 10px;">
                                                主题: 11万, 帖数: 160万
                    </span>
                </span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-md-4">
                <img src="IMAGE_PATH/center_center_3.png">
            </div>
            <div class="col-md-8">
                <b><span style="color:#1d3e78"><a href="/home/index/mengpailist/m/13">冰心堂</a></span></b>(今日:4666)<br/>
                <span style="font-size: 12px;">
                千载岐黄崇炎帝，奇经八脉调阴阳。
                善施百毒消民厄，肯解青囊善心长。 <br/>
                    <span style="font-size: 10px;">
                                                主题: 30万, 帖数: 1702万
                    </span>
                </span>
            </div>
        </div>
    </div>


    <div class="row">
        <div style="color: #8B0015;font-size: 18px;background-color: #f9f9f9">
            <img src="IMAGE_PATH/smalllogo.png">  <b>仗剑江湖 &nbsp;&nbsp;(常用讨论区)</b>
        </div>
    </div>
    <div class="row" style="background-color: #e8e8e8">
        <div class="col-md-4">
            <div class="col-md-4">
                <img style="margin-left: -15px;" src="IMAGE_PATH/buttom_left_1.png">
            </div>
            <div class="col-md-8">
                <b><span style="color: #009900">天下之路</span></b> (今日:1147)<br/>
                <span style="font-size: 12px;">
                    势力征战讨论区。你与势力的恩怨情仇、每周城站、势力战战绩，尽在此地。<br/>
                    <span style="font-size: 10px;">
                                主题: 17万, 帖数: 1698万
                    </span>
                </span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-md-4">
                <img src="IMAGE_PATH/buttom_center_1.png">
            </div>
            <div class="col-md-8">
                <b><span style="color: #1d3e78">虎印节堂</span></b> (今日:199)<br/>
                 <span style="font-size: 12px;">
                   备战新区招兵买马看这里！
                   新服招募/求组织，新服战势相关讨论专区<br/>
                    <span style="font-size: 10px;">
                                    主题: 7万, 帖数: 201万
                    </span>
                </span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-md-4">
                <img src="IMAGE_PATH/buttom_right_1.png">
            </div>
            <div class="col-md-8">
                <b><span style="color: #9933ff">映世宝鉴</span></b> (今日:15)<br/>
                 <span style="font-size: 12px;">
                   大荒万里山河，尽在你我手中。
                   影音、美图、小说，描绘你我的大荒梦。<br/>
                    <span style="font-size: 10px;">
                                        主题: 2万, 帖数: 70万
                    </span>
                </span>
            </div>
        </div>
    </div>
    <div class="row" style="background-color: #e8e8e8;margin-top: 1px;">
        <div class="col-md-4">
            <div class="col-md-4">
                <img src="IMAGE_PATH/buttom_left_2.png" style="margin-left: -15px;">
            </div>
            <div class="col-md-8">
                <b><span style="color:#1d3e78;">浮生若梦</span></b>(今日:294)<br/>
                <span style="font-size: 12px;">
                 游戏内外趣闻轶事，等你来分享！
                 心情、日记、秀恩爱……想秀就秀！ <br/><br/>
                    <span style="font-size: 10px;">
                                           主题: 26万, 帖数: 600万
                    </span>
                </span>
            </div>
        </div>


