<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="/Public/boot/css/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <table class="table table-bordered">
                <tr>
                    <td>ID</td>
                    <td>标题</td>
                    <td>内容</td>
                    <td>图片</td>
                </tr>
                <volist name="res" id="re">
                    <tr>
                        <td>{$re['user_id']}</td>
                        <td>{$re['title']}</td>
                        <td>{$re['content']}</td>
                        <td><img style="height: 50px;width: 50px;" src="{$head}"><a
                                href="/home/index/medal_user_show/id/{$re.user_id}">{$re.username}</a></td>
                    </tr>
                </volist>
            </table>
        </div>
    </div>
</div>
</body>
</html>