
<include file="../Application/Home/view/daohangtiao.html" />
<div class="row">
        <div class="panel col-md-8 col-md-offset-2">
            <div class="panel-heading">请输入搜索内容</div>
            <div class="panel-body">
                <form class="form-horizontal" method="post" action="/home/index/searchcheck">
                    <div class="form-group">
                        <label class="control-label col-md-3">请输入关键词</label>
                        <div class="col-md-8">
                            <input placeholder="输入关键词" name="keyword" type="text" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">按作者搜索</label>
                        <div class="col-md-8">
                            <input placeholder="输入作者名" name="writer" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">按时间搜索</label>
                        <div class="col-md-8">
                            <input placeholder="输入时间" name="time" id="ti" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <input type="submit" value="搜索" class="form-control" />
                        </div>
                    </div>
                </form>
            </div>

        </div>
</div>
<script type="text/javascript">
    $("#ti").datetimepicker({
            dayOfWeekStart:1,
             timepicker:false,
            formate:"Y-m-d"
    });
    $.datetimepicker.setLocale("zh");

</script>