<div class="col-md-8 col-md-offset-2" >
    <div class="panel-heading">
        <div style="font-size: 18px;font-weight: bold">搜索结果
            <a href="/home/index/search" style="font-size: 18px;float: right">返回</a>
        </div>
    </div>
    <div class="panel">
        <div class="panel-body">
            <table class="table table-bordered">
                <tr>
                    <th>关键词搜索结果</th>
                    <th>所在模块</th>
                    <th>发布时间</th>
                    <th>发布作者</th>
                </tr>
                <volist name="pro" id="items">
                    <tr>
                        <td><a href="/home/index/tiezi/id/{$items.ctid}/m/{$items.p}">{$items.title}</a></td>
                        <td><a href="/home/index/mengpailist/m/{$items.p}">{$items.mokuai}</a></td>
                        <td>{$items.created_at}</td>
                        <td>{$items.username}</td>
                    </tr>
                </volist>
            </table>
            {$page->show()}
        </div>
    </div>

</div>