<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/Public/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js" type="text/javascript"></script>
    <script src="/Public/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <title>denghao</title>
    <style>
        .body {
            width: 1300px;
        }

        .caption {
            color: #de4d1b;
            font-size: 16px;
            line-height: 2.5px;
            font-weight: bold;
        }

        .hero {
            height: 123px;
            width: 100%;
            margin-bottom: 10px;
        }

        .list_cl {
            margin-top: 20px;
        }

        .cl {
            list-style-type: none;
        }

        .y {
            float: right;
            margin-right: 50px;
        }

        .my_p {
            margin-left: -40px;
        }
        .title_b span {
            font-size: 18px;
            font-weight: bold
        }
        .hero_r p {
            padding-top: 10px;
        }

        .right_h {
            margin-left: -50px;
            margin-top: 25px;
        }

        .right_h li {
            display: inline;
            margin-left: 10px;
        }

        .title_b_r li {
            margin-top: 10px;
        }

        .hei_tu {
            margin-left: -20px;

        }

        .board {
            margin-left: -60px;
        }

        .hot li {
            list-style-type: none;
            margin-top: 10px;
        }

        .hot_za {
            background: #74b5d3;
            height: 100%;

        }

        .en {
            color: #fff;
            font-size: 24px;
            font-weight: bold;

        }

        .zh {
            font-size: 16px;
            color: #fff;
        }

        .lg {
            color: #de4d1b;
            font-size: 18px;
            text-align: center;
        }

        .sm {
            color: #282222;
            font-size: 13px;
            text-align: center;
        }

        .hot_zb {
            margin-top: 15px;

        }

        .hui strong {
            font-size: 12px;
            font-weight: bold;
        }

        .hui span {
            font-size: 12px;
            font-weight: bold;
        }

        .fo_a {
            background-color: #1d1c19;
            margin-top: 20px;
            height:150px;
            float: left;
            width: 1300px;
        }

        .fo_b {
            margin-top: 60px;
           margin-left: 200px;
        }

        .fo_last span {
            color: #999;
            float: left;
            margin-left: 10px;
        }

        .fo_last a {
            color: #999;
        }

    </style>
</head>
<body class="body">
<div class="container">
    <div class="row">
        <div class="title_a">
              <h2 style="font-size: large">《天下3》游戏资讯</h2>
         </div>
        <div class="news">
                <div class="left col-md-5">
                    <div class="hero">
                        <div>
                            <a href="http://tx3.netease.com/forum.php" target="_blank">
                                <img style="float: left;margin-right: 20px"
                                     src="http://img0.ph.126.net/0pGzZNFhmeq2qXCRXsHEfg==/6631364633844341145.png">
                            </a>
                        </div>
                        <div class="hero_r" style="margin-top: 5px">
                            <p class="caption">图说天下【34期】</p>

                            <p style="font-size: 13px" class="summary">
                                起个神ID、千枽手绘意境<br/>系列、
                                大宋和我的山居生活<br/>～精彩不断！
                                <a target="_blank" href="http://tx3.netease.com/thread-4756904-1-1.html">[查看全文]</a>
                            </p>
                        </div>

                    </div>
                    <ul class="list_cl" style="">
                        <li class="cl">
                            <div>
                                <p class="my_p">
                                    <span>[爆料]</span>
                                    <a target="_blank" href="#">2016年中资料片大剧透（全新门派现世）</a>
                                    <span class="y date">[03-22]</span>
                                </p>
                            </div>
                        </li>
                        <li class="cl">
                            <div>
                                <p class="my_p">
                                    <span>[展示]</span>
                                    <a target="_blank" href="#">群星大荒：觉醒满级第一人清幽若水</a>
                                    <span class="y date">[03-22]</span>
                                </p>
                            </div>
                        </li>
                        <li class="cl">
                            <div>
                                <p class="my_p">
                                    <span>[视频]</span>
                                    <a target="_blank" href="#">天下3原创音乐唯美mv《千梦》发布</a>
                                    <span class="y date">[03-16]</span>
                                </p>
                            </div>
                        </li>
                        <li class="cl">
                            <div>
                                <p class="my_p">
                                    <span>[攻略]</span>
                                    <a target="_blank" href="#">海寂二周目NPC好感度任务攻略</a>
                                    <span class="y date">[03-12]</span>
                                </p>
                            </div>
                        </li>
                        <li class="cl">
                            <div>
                                <p class="my_p">
                                    <span>[展示]</span>
                                    <a target="_blank" href="#">弈剑听雨——问水诀~弈剑听雨——问水诀</a>
                                    <span class="y date">[03-15]</span>
                                </p>
                            </div>
                        </li>
                        <li class="cl">
                            <div>
                                <p class="my_p">
                                    <span>[视频]</span>
                                    <a target="_blank" href="#">一直都在（东皇太一X玩家）腐向，专注冷西皮</a>
                                    <span class="y date">[03-09]</span>
                                </p>
                            </div>
                        </li>
                        <li class="cl">
                            <div>
                                <p class="my_p">
                                    <span>[视频]</span>
                                    <a target="_blank" href="#">MV剧情视频【东邪西毒——梦】</a>
                                    <span class="y date">[03-11]</span>
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>

            <div class="right col-md-7">
                <div>
                    <span style="font-size: 16px">游戏资料</span>
                    <span style="float: right"><a target="_blank" href="#">查看更多</a></span>
                </div>
                <div>
                    <ul class="right_h">
                        <li><b><a href="#" target="_blank">新手攻略</a></b></li>
                        <li><a href="#" target="_blank">元魂系统</a></li>
                        <li><a href="#" target="_blank">前期副本</a></li>
                        <li><a href="#" target="_blank">元魂系统</a></li>
                        <li><a href="#" target="_blank">孩子系统</a></li>
                        <li><a href="#" target="_blank">归墟战场</a></li>
                        <li><a href="#" target="_blank">日常小玩法</a></li>
                    </ul>
                </div>
                <div>
                    <dl class="right_dl">
                        <dt style="float: left"><a href="#" target="_blank">游戏进阶</a></dt>
                        <dd>
                            <ul style="display: block;margin-left: 18px" class="right_h">
                                <li><a href="#" target="_blank">太初玄兵</a></li>
                                <li><a href="#" target="_blank">门派转换</a></li>
                                <li><a href="#" target="_blank">双护翅膀</a></li>
                                <li><a href="#" target="_blank">英魂装备</a></li>
                                <li><a href="#" target="_blank">轩辕英魂</a></li>
                                <li><a href="#" target="_blank">手工时装</a></li>
                                <li><a href="#" target="_blank">时间贵宾</a></li>
                                <li><a href="#" target="_blank">荟珍阁</a></li>
                                <br>
                                <li><a href="#" target="_blank">珍兽技能</a></li>
                                <li><a href="#" target="_blank">百炼武库</a></li>
                                <li><a href="#" target="_blank">元魂神启</a></li>
                                <li><a href="#" target="_blank">神启幻化</a></li>
                                <li><a href="#" target="_blank"> 神启合体</a></li>
                                <li><a href="#" target="_blank">天赋技能</a></li>
                                <li><a href="#" target="_blank">归宗系统</a></li>
                                <li><a href="#" target="_blank">家仆系统</a></li>
                                <br>
                                <li><a href="#" target="_blank">宠物加成</a></li>
                                <li><a href="#" target="_blank">势力战新玩法</a></li>
                            </ul>
                        </dd>
                    </dl>
                </div>
                <div>
                    <ul class="right_h">
                        <li><b><a href="#" target="_blank">其他攻略</a></b></li>
                        <li><a href="#" target="_blank">地藏王副本攻略</a></li>
                        <li><a href="#" target="_blank">黄泉戾影副本攻略</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="title_b">
            <span >天下同人图文视频</span>
        </div>
        <div class="col-md-7">
            <div class="col-md-5" style="margin-left: -40px">
                <a href="#"><img src="/Public/image/1.png"/></a>

                <p class="caption">翰书天下三月壁纸集合</p>

                <p class="des">小清新、萌系、恶搞应有尽有！</p>
            </div>
            <div class="col-md-5" style="margin-left: 45px">
                <div class="row" >
                    <div class="col-md-6"><a><img src="/Public/image/2.png"/></a></div>
                    <div class="col-md-6"><a style="margin-bottom: 20px;margin-left: 30px"><img src="/Public/image/2.png"/></a></div>
                </div>
                <div class="row">
                     <div class="col-md-6"><a style="margin-top: 100px"><img src="/Public/image/2.png"/></a></div>
                     <div class="col-md-6"><a style="margin-top: 20px"><img src="/Public/image/2.png"/></a></div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div><span style="font-size: 18px;margin-left: 50px;margin-top: 50px">论坛热帖</span></div>
            <div>
                <ul class="title_b_r" style="margin-left: 20px">
                    <li>
                        <div style="float: left">
                            <em>1</em>
                            <a class="name" target="_blank" href="#">【天下3官方论坛】翠色一片暖大荒。新时装</a>
                            <span style="margin-left: 1px" class="views y">65607</span>
                        </div>
                    </li>
                    <li>
                        <div>
                            <em>2</em>
                            <a class="name" target="_blank" href="#">【天下3官方论坛】翠色一片暖大荒。新时装</a>
                            <span class="views y">65607</span>
                        </div>
                    </li>
                    <li>
                        <div>
                            <em>3</em>
                            <a class="name" target="_blank" href="#">【天下3官方论坛】翠色一片暖大荒。新时装</a>
                            <span class="views y">65607</span>
                        </div>
                    </li>
                    <li>
                        <div>
                            <em>4</em>
                            <a class="name" target="_blank" href="#">【天下3官方论坛】翠色一片暖大荒。新时装</a>
                            <span class="views y">65607</span>
                        </div>
                    </li>
                    <li>
                        <div>
                            <em>5</em>
                            <a class="name" target="_blank" href="#">【天下3官方论坛】翠色一片暖大荒。新时装</a>
                            <span class="views y">65607</span>
                        </div>
                    </li>
                    <li>
                        <div>
                            <em>6</em>
                            <a class="name" target="_blank" href="#">【天下3官方论坛】翠色一片暖大荒。新时装</a>
                            <span class="views y">65607</span>
                        </div>
                    </li>
                    <li>
                        <div>
                            <em>7</em>
                            <a class="name" target="_blank" href="#">【天下3官方论坛】翠色一片暖大荒。新时装</a>
                            <span class="views y">65607</span>
                        </div>
                    </li>
                    <li>
                        <div>
                            <em>8</em>
                            <a class="name" target="_blank" href="#">【天下3官方论坛】翠色一片暖大荒。新时装</a>
                            <span class="views y">65607</span>
                        </div>
                    </li>
                    <li>
                        <div>
                            <em>9</em>
                            <a class="name" target="_blank" href="#">【天下3官方论坛】翠色一片暖大荒。新时装</a>
                            <span class="views y">65607</span>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <div class="hei_tu">
        <a href="#" target="_blank"><img src="/Public/image/hei_1.png"></a>
    </div>

    <div class="board">
        <ul class="hot">
            <li class="col-md-6">
                <div style="height: 90px;width: 600px;color: whitesmoke">
                    <div style="background: url('/Public/image/hot_1.png');height: 85px;width: 595px; ">
                        <div class="hot_za col-md-2 ">
                            <p class="en">HOT</p>

                            <p class="zh">玩家招募</p>
                        </div>
                        <div class="hot_zb col-md-offset-1 col-md-6">
                            <table>
                                <tr>
                                    <td>
                                        <a class="zi">
                                            <p class="lg">上万军饷的正确领取方式</p>

                                            <p class="sm">天下3最大玩家团队在等你加入</p>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </li>
            <li class="col-md-6">
                <div style="height: 90px;width: 600px;color: whitesmoke">
                    <div style="background: url('/Public/image/hot_2.png');height: 85px;width: 595px; ">
                        <div class="hot_za col-md-2 ">
                            <p class="en">HOT</p>

                            <p class="zh">热门帖子</p>
                        </div>
                        <div class="hot_zb col-md-offset-2 col-md-6">
                            <table>
                                <tr>
                                    <td>
                                        <a class="zi">
                                            <p class="lg">小宠系列电脑壁纸图签</p>

                                            <p class="sm">岚音、小玉雨、侍剑……</p>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </li>
            <li class="col-md-6">
                <div style="height: 90px;width: 600px;color: whitesmoke">
                    <div style="background: url('/Public/image/hot_3.png');height: 85px;width: 595px; ">
                        <div class="hot_za col-md-2 ">
                            <p class="en">HOT</p>

                            <p class="zh">战犯激情</p>
                        </div>
                        <div class="hot_zb col-md-offset-1 col-md-6">
                            <table style="margin-left: 20px;">
                                <tr>
                                    <td>
                                        <a class="zi">
                                            <p class="lg">战犯激情所在</p>

                                            <p class="sm">2月15日-2月21日战报备忘录</p>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </li>
            <li class="col-md-6">
                <div style="height: 90px;width: 600px;color: whitesmoke">
                    <div style="background: url('/Public/image/hot_4.png');height: 85px;width: 595px; ">
                        <div class="hot_za col-md-2 ">
                            <p class="en">HOT</p>

                            <p class="zh">翰书天下</p>
                        </div>
                        <div class="hot_zb col-md-offset-1 col-md-6">
                            <table style="margin-left: 70px">
                                <tr>
                                    <td>
                                        <a class="zi">
                                            <p class="lg">天下3同人</p>

                                            <p class="sm">寄身书翰墨，乘云鉴风波</p>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div>
    <h3 class="hui">
            <strong>在线会员</strong>
                   <span class="xs1">
                    - 总计
                    <strong>2439</strong>
                        人在线 - 最高记录是
                    <strong>4083</strong>
                        于
                    <strong>2016-3-11</strong>
                        .
                   </span>
        </h3>
        <div style="border-bottom:  1px solid darkgray"></div>
</div>

</div>


<div class="fo_a ">
    <div class="fo_b">
        <span style="float:left">
            <a target="_blank" href="http://www.163.com"><img src="/Public/image/fo-1.png"></a>
            <a target="_blank" href="http://www.163.com"><img src="/Public/image/fo_2.png"></a>
            <a style="margin-left: 10px;" target="_blank" href="http://www.163.com">
                <img src="/Public/image/fo_3.png">
            </a>
        </span>
        <span class="fo_last" style="display: block; ">
                  <span>
                    <a href="#">手机版</a> - <a href="#">Archiver</a>
                  </span>
                    <br/>
                    <span>
                          杭州网易雷火科技有限公司版权所有 ©1997-2016
                    </span>
                         <a style="margin-left: 50px;background-color: rgb(97, 0, 0);
                         color: white" target="_blank" href="#">点击查看家长监护工程 &nbsp;>
                         </a>
        </span>
    </div>
</div>

</body>
</html>