<div class="row">
    <div style="height: 50px;background-color: rgb(62,56,56)">
        <div class="col-md-6">
            <div class="col-md-3 aa"><a href="/home/index/index">论坛首页</a></div>
            <div  class="col-md-2 aa"><a href="#">图库</a></div>
            <div  class="col-md-2 aa"><a href="/home/index/search">搜索</a></div>
            <div  class="col-md-2 aa"><a href="http://tx3.netease.com/home.php?mod=task">任务</a></div>
            <div  class="col-md-2 aa"><a href="http://tx3.netease.com/home.php?mod=medal">勋章</a></div><!--181E28-->
        </div>
        <div class="col-md-6 ye_qiandao">
            <div class="col-md-2 col-md-offset-6 "><button type="button" class="btn">签到</button></div>
           {:auth()}
        </div>
    </div>
</div>