<div class="row  ye_myfocus_div">
    <div class="ye_second_div">
       <div class="col-md-1"><img src="IMAGE_PATH/newlevel.png"/></div>
        <div class="col-md-1"><a href="#">新手攻略</a><img src="IMAGE_PATH/border.png"/></div>
        <div class="col-md-1"><a href="#">指挥攻略</a><img src="IMAGE_PATH/border.png"/></div>
        <div class="col-md-1"><a href="#">幻化攻略</a><img src="IMAGE_PATH/border.png"/></div>
        <div class="col-md-1"><a href="#">时装集合</a><img src="IMAGE_PATH/border.png"/></div>
        <div class="col-md-1"><a href="#">捏脸经验</a><img src="IMAGE_PATH/border.png"/></div>
    </div>
</div>
<div class="row ye_myfocus_div">
        <div class="col-md-4">
            <div id="boxid" style="width: 400px;height: 250px;">
                <div class="pic" >
                    <ul>
                        <li><a href="#"><img src="IMAGE_PATH/myf1.jpg" alt="天下不远约遍全球，春风十里抽大奖"/></a></li>
                        <li><a href="#"><img src="IMAGE_PATH/myf2.jpg"  alt="3D横版格斗游戏"/></a></li>
                        <li><a href="#"><img src="IMAGE_PATH/myf3.png"  alt="愚人节活动"/></a></li>
                        <li><a href="#"><img src="IMAGE_PATH/myf4.png"  alt="快乐萌宠"/></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="ye_myfou_left text-center">
                <a href="#">翰书天下——天下3玩家团队招募</a>
                <div class="ls col-md-7" >
                    <div class="dh" >
                         <ul class="lss">
                             <li style="margin-left: -40px" class="jc">精彩推荐</li>
                             <li class="gg">公告更新</li>
                             <li class="lt">论坛活动</li>
                        </ul>
                     </div>

                    <div class="fu">
                    <div class="jclist">
                    <ul>
                        <li><a>萌萌哒歌：来自鸡哥的心声之《好想你》</a></li>
                        <li><a style="color: red;font-weight: bold">荷包花上的故事 ——金坎子&天草</a></li>
                        <li><a>【广播剧催更团】《老板，你真渣！》上</a></li>
                        <li><a style="color: lawngreen;font-weight: bold">【翰书天下·拾光】清明节各类壁纸系列</a></li>
                        <li><a>【势力采访】剑舞香江——倾心回眸</a></li>
                        <li><a>草金相关——娑罗树下待君归</a></li>
                    </ul>
                    </div>

                    <div style="display: none;" class="jclist">
                        <ul>
                            <li><a style="color: red;font-weight: bold">[解读]2016年4月6日维护公告解</a></li>
                            <li><a style="color: red;font-weight: bold">[公告]《天下3》更新公告(版本2.0.584 </a></li>
                            <li><a>【脆皮温馨提示】大家不要忘了清明签到哦</a></li>
                            <li><a>[攻略]免费开启珍兽通灵的方法你知道吗</a></li>
                            <li><a>【天下3官方论坛】关于本周更新的一切</a></li>
                            <li><a>清明节活动——清明寻宝，帮宝物猎人寻宝啦</a></li>
                        </ul>
                    </div>

                    <div style="display: none;" class="jclist">
                        <ul>
                            <li><a>04.06话题，从哪开始认识你的亲友团呢？</a></li>
                            <li><a style="color: red;font-weight: bold">《十方天下》主创团队访谈问题征集开始</a></li>
                            <li><a>【八卦辩论场】第23期：当你遇到了假八卦</a></li>
                            <li><a style="color: #008200;font-weight: bold">【大荒奇葩说】我的势力里有奇葩逗比</a></li>
                            <li><a>4月所有板块打卡散分帖</a></li>
                            <li><a> [书文小说] 【翰书天下·趣闻】太虚师徒黄霸天日常——by 瑾堂</a></li>
                        </ul>
                    </div>

                </div>
                </div>
                <div class="col-md-5 ls " style=" ">
                    <div  class="hero">
                        <a title="【大荒奇葩说】势力有奇葩" target="_blank" href="#">
                            <img width="135" height="80"  alt="【大荒奇葩说】势力有奇葩" src="/Public/image/ls_1.png">
                            <p  class="caption">【大荒奇葩说】势力有奇葩</p>
                        </a>
                    </div>
                 <div  class="hero">
                        <a title="【大荒奇葩说】势力有奇葩" target="_blank" href="#">
                            <img width="135" height="80"  alt="【大荒奇葩说】势力有奇葩" src="/Public/image/ls_2.jpg">
                            <p  class="caption">【大荒奇葩说】势力有奇葩</p>
                        </a>
                </div>
            </div>
        </div>

</div>
    <div class="col-md-3" style="margin-top: 20px">
    <div style="height:130px">
        <div class="col-md-5"><img src="/Public/image/d_1.png"></div>
        <div class="col-md-7">
            <div><a href="#" ><img src="/Public/image/d_2.png"></a></div>
            <div><a href="#" ><img src="/Public/image/d_3.png"></a></div>
        </div>
    </div>
        <div><img src="/Public/image/d_4.png"></div>
        <div class="pingd" style="height: 66px">
            <a href="#"><img src="/Public/image/pd_1.png"/></a>
            <a href="#"><img src="/Public/image/pd_2.png"/></a>
            <a href="#" ><img src="/Public/image/pd_3.png"/></a>
            <a href="#"><img src="/Public/image/pd_4.png"/></a>

        </div>
        <div class="pd_z">
            <a href="#">论坛教程</a>
            <a href="#">天下同人</a>
            <a href="#">客服专区</a>
            <a href="#">玩团招募</a>
        </div>
</div>
</div>
<style type="text/css">
    .ls {
        margin-top: 10px;
    }
    .lss li {
        list-style-type: none;
        float: left;
        margin-left: 50px;
        font-size: 14px;
        font-weight: bold;
    }
    .caption {
        background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
        line-height: 1.5;
        text-align: center;
        font-size: 11px;
        color: whitesmoke;
    }
    .lss li{
        cursor: pointer;
    }

    .dh {
    border-bottom: 1px solid dimgray;
       height: 20px;
    }
    .jclist {
        height: 200px;
        float:left;
    }

    .jclist ul {
        width:330px;
        margin-left: -40px;
        text-align: left;
        list-style-type: none;

    }
    .jclist a {
        font-size: 13px;
        color: black;
    }
    .jclist li {
        margin-top: 10px;
    }

    .pingd a{
        margin-left: 10px;
    }
    .pd_z a {
        margin-left: 15px;
    }
</style>
<script type="text/javascript">
    myFocus.set({
        id:"boxid",
        pattern:"mF_dleung",
        trigger:"mouseover",
        time:3,
        delay:200
    });

    $(function(){
        var ali=$('.lss li');
        var adiv=$('.fu div');
        ali.click(function(){
            var index=$(this).index();
            adiv.eq(index).show().siblings().hide();
        })

        })

</script>
