<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="/Public/myfocus/myfocus-2.0.4.min.js"></script>
</head>
<body>
<div id="picture" style="height: 320px;width: 480px;">
    <div class="pic">
        <ul>
            <li><img src="/Public/image/beizi.jpg">叶超</li>
            <li><img src="/Public/image/mengpai1.jpg">张磊</li>
            <li><img src="/Public/image/xuejing.jpg">邓浩</li>
            <li><img src="/Public/image/flower.jpg">于兵</li>
        </ul>
    </div>
</div>
<script type="text/javascript">
    myFocus.set({
        id:'picture'
    })
</script>
</body>
</html>